@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4749E2;
    --light-color: #6668E8;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
}

/* Main Nav */
.main-nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 5%;
    background-color: var(--light-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul {
    height: 100%;
    list-style-type: none;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
}

.main-nav .user {
    justify-content: flex-end;
}

.main-nav ul .title {
    font-size: 1.3rem;
    font-weight: 600;
}

.main-nav ul li {
    height: 50px;
    padding: 0 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.main-nav ul li:hover {
    background-color: var(--primary-color);
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* Hero Section */
.hero-section {
    background-color: var(--primary-color);
    color: white;
    margin-top: 50px;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-section .hero-info {
    display: flex;
    flex-direction: column;
}

.hero-section .hero-info,
.hero-section .hero-img {
    width: 45%;
    padding: 7% 7% 3%;
}

.hero-section .hero-info .hero-title {
    margin-bottom: 5%;
    font-size: 35px;
    font-weight: 600;
}

.hero-section .hero-img {
    position: relative;
    padding: 2%;
    padding-left: 10%;
    height: 400px;
}

.hero-section .hero-img .img-animation {
    position: absolute;
    bottom: 0;
    animation: hero-img-animation 10s ease-in-out infinite;
    border-radius: 10px;
}

/* Guide Section */
.guide-section {
    width: 80%;
    margin: 5% auto 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.guide-section .guide-path-icon {
    display: inline-block;
    color: var(--primary-color);
    font-size: 6rem;
}

.guide-section .arrow {
    font-size: 3.5rem;
}

/* Comparison section */
.comparison-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparison-section .comparison-title {
    margin: 7% 0 5%;
    font-size: 1.8rem;
}

.comparison-section .comparison-text {
    opacity: 0.8;
    width: 60%;
    margin: auto;
    text-align: center;
}

/* Slider */
.slider {
    width: 100%;
    height: 400px;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.list-sliders {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-sliders img {
    border-radius: 10px;
}

.list-sliders .active-img {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.slider-focus {
    transition: box-shadow 200ms ease-in-out;
}

.slider-focus:focus,
.slider-focus:hover {
    outline: none;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.slider-opacity {
    --default-handle-width: 100px;
}

.slider-opacity:focus,
.slider-opacity:hover {
    --default-handle-opacity: 0;
}

.before,
.after {
    margin: 0;
}

.before img,
.after img {
    height: 400px;
    max-width: 700px;
}

.before figcaption,
.after figcaption{
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    color: #2e3452;
    opacity: 0.8;
    padding: 7px;
    font-size: small;
    position: absolute;
    top: 5px;
    line-height: 100%;
}

.before figcaption {
    left: 5px;
}

.after figcaption {
    right: 5px;
}

/* Attributes Section */
.attributes-section {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 80%;
    margin: 5% auto 0;
}

.attributes-section .attribute {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.attributes-section .attribute .attribute-img,
.attributes-section .attribute .attribute-details {
    width: 45%;
    height: 400px;
}

.attributes-section .attribute .attribute-img {
    position: relative;
}

.attributes-section .attribute .attribute-img .small {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    z-index: 10;
}

.attributes-section .attribute .attribute-img .big {
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px
}

.attributes-section .attribute .attribute-img .small,
.attributes-section .attribute .attribute-img .big {
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.attributes-section .attribute .attribute-details {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2%;
}

.attributes-section .attribute .attribute-details .attribute-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5%;
}

.attributes-section .attribute .attribute-details .attribute-text {
    opacity: 0.8;
    line-height: 1.5;
}

/* Pricing Section */
.pricing-section {
    height: calc(100vh - 100px);
    margin-top: 50px;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-section .pricing-title {
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 600;
}

.pricing-section .pricing-subtitle {
    margin-top: 1%;
    opacity: 0.8;
}

.pricing-section .plans {
    flex-grow: 1;
    margin: 3% 0;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
}

.pricing-section .plans .card {
    background-color: var(--primary-color);
    color: white;
    border-radius: 15px;
    padding: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.pricing-section .plans .card .card-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2%;
}

.pricing-section .plans .card .card-subtitle .x-small {
    font-size: small;
    opacity: 0.5;
}

.pricing-section .plans .card .card-subtitle {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.pricing-section .plans .card .card-btn {
    background-color: var(--light-color);
    width: 100%;
    margin: 5% auto 8%;
    padding: 2% 3%;
    border-radius: 10px;
    text-align: center;
    border: 2px solid white;
}

.pricing-section .plans .card .card-btn:hover {
    transform: translate(1px, 1px);
    opacity: 0.8;
}

.pricing-section .plans .card hr {
    margin: 4% 0;
}

.pricing-section .plans .card .card-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pricing-section .plans .card .card-detail {
    padding: 0 5%;
    display: flex;
}

.pricing-section .plans .card .card-detail .detail-icon {
    margin-right: 5%;
}

.pricing-section .plans .card .card-detail .detail-text {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.pricing-section .plans .card .detail-subtext {
    padding: 0 5%;
    width: 100%;
    text-align: right;
    font-size: x-small;
    opacity: 0.8;
}

.pricing-section .plans .card .card-recommend {
    height: 100px;
    font-size: small;
    align-self: flex-end;
}

.pricing-section .plans .card .card-detail .detail-icon {
    font-size: 1.5rem;
}

/* Enhance Section */
.enhance-section {
    margin-top: 50px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enhance-section .enhance-title {
    text-align: center;
    padding-top: 2%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.enhance-slider {
    flex-grow: 1;
    width: 50%;
    margin-bottom: 3% !important; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.enhance-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enhance-slider .swiper-slide .slider-focus:focus,
.enhance-slider .swiper-slide .slider-focus:hover {
    border-radius: none;
    box-shadow: none;
}

/* Footer */
.footer {
    background-color: var(--light-color);
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer .footer-nav ul li {
    padding: 15px;
}

.footer .footer-nav ul li:hover {
    background-color: var(--primary-color);
}

.footer .footer-nav ul li a {
    text-decoration: none;
    color: white;
}

.footer-text {
    font-size: 0.7rem;
    color: white;
}

/* Animations */
@keyframes hero-img-animation {
    0% {
        background-image: url('../images/hero_img_small.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 150px;
    }

    30% {
        background-image: url('../images/hero_img_small.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 300px;
    }

    60% {
        background-image: url('../images/hero_img.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 300px;
    }

    90% {
        background-image: url('../images/hero_img.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 300px;
    }

    100% {
        background-image: url('../images/hero_img_small.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 150px;
    }
}