/* Image Upload Button */
.btn {
    margin: 5% 0;
    width: max-content;
    background-color: white;
    color: black;
    padding: 3% 5%;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.btn a {
    color: black;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: translate(1px, 1px);
}

.btn .btn-icon {
    margin-right: 10px;
}

.large-btn {
    margin: 2% 0;
    padding: 1% 4%;
    font-size: 1.1rem;
}

.x-large-btn {
    margin: 2% 0;
    padding: 3% 6%;
    font-size: 1.1rem;
}

.dark-btn {
    background-color: var(--primary-color);
    color: white;
}

.dark-btn:hover {
    background-color: var(--light-color);
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

/* Underline text */
.underline {
    text-align: center;
    text-decoration: underline;
    opacity: 0.5;
}